@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.container {
  min-height: 100vh;
  /* overflow: hidden; */
}

.top {
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.homepage {
  flex: 2;
}

.navbar {
  position: absolute;
  top: 40px;
  left: 40px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin: 0 20px;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.gallery {
  width: 100%;
  max-width: 850px;
  overflow-x: scroll;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.bg-cover {
  display: flex;
}

.bg-cover img {
  width: 100%;
}

.desc-cover {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.directbtn {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #000;
  width: 75px;
  display: flex;
}

.directbtn button {
  width: 50%;
  padding: 8px 10px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  outline: none;
  border: none;
}

.descriptions {
  width: 100%;
  height: 100%;
}

.desc-wrapper {
  display: flex;
  overflow-x: scroll;
}

.desc-wrapper::-webkit-scrollbar {
  display: none;
}

.description {
  margin: 40px;
  width: 100%;
}

.description h1 {
  font-size: 40px;
  width: 400px;
}

.description p {
  font-size: 12px;
  max-width: 330px;
  line-height: 20px;
  margin: 20px 0;
}

.bottom {
  display: flex;
}

.left,
.right {
  flex: 1;
}

.left img,
.right img {
  width: 100%;
}

.center {
  flex: 1.5;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerinfo {
}
.center h1 {
  font-size: 24px;
}

.center p {
  font-size: 12px;
  line-height: 20px;
  margin: 20px 0 0;
  max-width: 390px;
}
